.root {
    -fx-background-color: #23272e;
}

.label {
    -fx-text-fill: #e0e0e0;
}

.button {
    -fx-background-color: #444b52;
    -fx-text-fill: #e0e0e0;
}

.button:hover {
    -fx-background-color: #586069;
}

.progress-bar {
    -fx-accent: #4caf50;
    -fx-control-inner-background: #333842;
}

.spinner, .choice-box {
    -fx-background-color: #333842;
    -fx-text-fill: #e0e0e0;
}

.choice-box .menu-item {
    -fx-background-color: #333842;
    -fx-text-fill: #e0e0e0;
}

.text-field {
    -fx-background-color: #333842;
    -fx-text-fill: #e0e0e0;
}